API_URL=https://yourserver.com
ACCESS_TOKEN=verysuperspecialsecretaccesstoken
SECRET_KEY=specialkeynoonemustknow

# deprecated but still in use if you choose to use the TUI,
# if you plan on using the frontend, you can skip adding this
USER_ID=wildduckuserid