WILDDUCK_API_URL=http://127.0.0.1:8989
WILDDUCK_ACCESS_TOKEN=verysuperspecialsecretaccesstoken
SECRET_KEY=specialkeynoonemustknow
CLIENT_URL=http://localhost:1234
APP=glemail-client


# deprecated but still in use if you choose to use the TUI,
# if you plan on using the frontend, you can skip adding this
USER_ID=wildduckuserid